@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --primary: 164.84 76% 24.51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 160 84% 39%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 164.84 76% 24.51%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color-scheme: light;
  }

  input,
  textarea,
  select,
  button {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 164.84 76% 24.51%;
    }
  }
}
